/* PHASE 4: Footer */

.footer {
    width: 900px;
    background-color: white;
    margin: auto;
    padding-top: 5px;
    border-top: 2px solid gray;
}

.footer-copy {
float: left;
margin: 20px;
color: lightgray;
}

.footer-links {
float: right;
margin: 20px;
}

.footer-links > li {
float: left;
padding: 5px;
font-size: 14px;
}

.footer a {
    color:lightgray;
}

.footer a:hover {
color: black;
}
